#This tells cargo that it should recompile the core and compiler_builtins libraries.
[unstable]
build-std-features = ["compiler-builtins-mem"]
build-std = ["core", "compiler_builtins"]

[build]
target = "aarch64-rust_os.json "
